body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
}

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}
#tbl {
    margin-top:10px;
    border-collapse: collapse;
    width: 100%;
}

#tbl td,
#tbl th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tbl tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tbl tr:hover {
    background-color: #ddd;
}

#tbl th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
    text-align: center;
}
#tbl td {
    color:rgb(0, 0, 0);
}
.split-td {
    position: relative;
}

.left-half {
    width: 50%;
    float: left;
}

.torigth{
    margin-right: 10px;
}
